.post-card-box {
  position: relative;
  border-radius: 25px;
  box-shadow: 0 0 4px 3px #afafaf;
  padding: 10px 20px;
}

.post-card-box .panel-footer span:hover {
  cursor: pointer;
}
.post-card-box .panel-footer span:active {
  color: green;
}
.post-card-box .panel-heading {
  margin-top: 20px;
  padding-bottom: 5px;
  display: flex;
}
.post-card-box .panel-heading img {
  margin-right: 15px;
  width: 80px;
  border-radius: 50%;
}
.post-card-box .panel-heading h3 {
  margin: 0px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
}
.post-card-box .panel-heading h5 {
  color: rgb(153, 153, 153);
  margin: 0px;
  height: 80px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  margin-left: auto;
}
.post-card-box .panel-body {
  padding-top: 5px;
  font-size: 13px;
}
.post-card-box .panel-body .post-card-box-image {
  display: block;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(217, 217, 217);
}
.post-card-box .panel-body .post-card-box-image img {
  max-width: 100%;
}

.post-card-box .panel-footer {
  font-size: 14px;
  font-weight: 700;
  min-height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-card-box .panel-footer .btn {
  float: left;
  margin-right: 8px;
}
.post-card-box .panel-footer .input-placeholder {
  width: 90%;
  margin-left: auto;
  color: rgb(153, 153, 153);
  font-size: 12px;
  font-weight: 400;
  padding: 8px 6px 7px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.post-card-box.post-card-box-show-comment .panel-footer .input-placeholder {
  display: none;
}
.post-card-box .post-card-box-comment {
  display: none;
  padding: 10px 20px 15px;
  border-top: 1px solid rgb(229, 229, 229);
  background-color: rgb(245, 245, 245);
}
.post-card-box.post-card-box-show-comment .post-card-box-comment {
  display: block;
}
/*.post-card-box .post-card-box-comment img {
  float: left;   
}*/
.post-card-box .post-card-box-comment .post-card-box-textarea {
  float: right;
  width: calc(100% - 56px);
}
.post-card-box .post-card-box-comment .post-card-box-textarea textarea {
  display: block;
  /*margin-left: 60px;
  width: calc(100% - 56px);*/
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
  resize: vertical;
}
.post-card-box .post-card-box-comment .post-card-box-textarea .btn {
  margin-top: 10px;
  margin-right: 8px;
  width: 100%;
}

#DeleteButton {
  position: absolute;
  top: 10px;
  right: 0;
}
@media (min-width: 992px) {
  .post-card-box .post-card-box-comment .post-card-box-textarea .btn {
    width: auto;
  }
}

.post-card-box .btn {
  border-radius: 3px;
}
.post-card-box .btn-default {
  border: 1px solid rgb(217, 217, 217);
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.post-card-box .btn-default:hover,
.post-card-box .btn-default:focus,
.post-card-box .btn-default:active {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}
