#PostForm {
  margin-bottom: 25px;
}
#PostForm form {
  width: 360px;
  margin: 0px auto;
}
/* #PostForm button {
  background-color: white;
  color: #3f50b5;
  font-weight: 700;
  margin: 10px auto;
}
#PostForm button:hover {
  background-color: #3f50b5;
  color: white;
  border: 1px solid white;
  font-weight: 700;
  margin: 10px auto;
} */

#PostForm label {
  color: black;
}
#PostForm textarea {
  min-width: 270px;
  max-width: 280px;
}
