#Posts .container-fluid {
  margin-top: -100px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f50b5;
  color: white;
  margin-bottom: 50px;
}

#Posts .posts {
  min-width: 340px;
  max-width: 500px;
}

@media only screen and (max-width: 600px) {
  #Posts .container-fluid h1 {
    margin-top: 25px;
    font-size: 2rem;
  }
}
