#ProfilePlaces {
  max-width: 600px;
  margin-bottom: 50px;
}

#ProfilePlaces h4 {
  font-weight: bold;
  color: #3f50b5;
  margin-bottom: 25px;
}

#ProfilePlaces .name {
  font-weight: bold;
  margin-bottom: 0px;
}
#ProfilePlaces .location {
  padding: 0px 10px 10px 10px;
}

#ProfilePlaces .name span {
  margin-right: 10px;
  color: rgb(255, 47, 47);
}
