#ProfileTop {
  margin-top: -140px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3f50b5;
}

#ProfileTop .socials a {
  color: white !important;
  margin: 0px 10px;
}

#GoBack {
  z-index: 100;
  position: fixed;
  top: 100px;
  left: 10px;
}
